# For running tests only ETHEREUM_PROVIDER (rpc archive node) is needed
ETHEREUM_PROVIDER=""
ARBITRUM_PROVIDER=""
POLYGON_PROVIDER=""
BSC_PROVIDER=""
AVALANCHE_PROVIDER=""
GOERLI_PROVIDER=""
SEPOLIA_PROVIDER=""
BASE_PROVIDER=""
OPTIMISM_PROVIDER=""
CELO_PROVIDER=""
KROWN_TESTNET_PROVIDER=""
KROWN_MAINNET_PROVIDER=""

DEPLOYER_KEY=""

BSC_SCAN_KEY=""
ETHER_SCAN_KEY=""
ARBI_SCAN_KEY=""
POLYGON_SCAN_KEY=""
GOERLI_SCAN_KEY=""
AVALANCHE_SNOWTRACE_KEY="NOT_NEEDED_FOR_SNOWTRACE"

CMC_KEY=""